*{
    padding: 0%;
    margin: 0%;
}
.section-9{
    display: flex;
    padding-top: 150px;
    background-color: rgb(255 249 243);
    padding-left: 100px;
    padding-right: 100px;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 100px;
}
.section-9-top{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    box-sizing: content-box;
}
.section-9-top-para1{
    font-family: DM Sans;
    font-weight: 700;
    font-size: 32px;
}
.section-9-top-para2{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 35px;
    background-color: rgb(255 255 255);
}
.section-9-botm{
    display: flex;
    column-gap: 30px;
}
.section-9-botm-left{
    display: flex;
    width: 50%;
    flex-direction: column;
    background-color: rgb(255 254 254);
    row-gap: 10px;
    border-radius: 35px;
}
.section-9-botm-left-image{
    width: 100%;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    height: 70%;
}
.section-9-botm-left-p1{
    font-family: DM Sans;
    font-weight: 500;
    font-size: 15px;
    color: rgb(115 115 115);
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 10px;
}
.section-9-botm-left-p2{
    font-family: DM Sans;
    font-weight: 700;
    font-size: 26px;
    padding-left: 20px;
    padding-right: 10px;
}
.section-9-botm-left-p3{
    font-family: DM Sans;
    font-weight: 500;
    font-size: 15px;
    color: rgb(143 143 143);
    padding-left: 20px;
    padding-bottom: 30px;
    padding-right: 10px;
}
.section-9-botm-right{
    display: flex;
    width: 60%;
    flex-direction: column;
    row-gap: 30px;
}
.section-9-botm-right-top{
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: center;
}
.section-9-botm-right-top-1{
    display: flex;
    width: 40%;
    flex-direction: column;
    background-color: rgb(255 254 254);
    row-gap: 10px;
    border-radius: 35px;
    padding-bottom: 20px;
}
.section-9-botm-right-top-1-image{
    width: 100%;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}
.section-9-botm-right-top-1-p1{
    font-family: DM Sans;
    font-weight: 500;
    font-size: 15px;
    color: rgb(115 115 115);
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 10px;
}
.section-9-botm-right-top-1-p2{
    font-family: DM Sans;
    font-weight: 700;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 10px;
}




